{{! users' post list and adds a new post }}

{{#each posts as |post|}}
  <div class="row mb-4 project card pl-4">
    <div class="d-flex flex-row justify-content-between">
      <h2>
        <a
          class="text-dark font-weight-bold"
          href="/post/{{post.id}}"
        >{{post.title}}</a>
      </h2>
      <!-- Call helper function to format the date -->
      <p class="font-italic font-weight-ligh">Created by
        {{post.user.name}}
        on
        {{format_date post.date_created}}</p>
    </div>
    <div class="form-control bg-light">
      <p>
        {{post.content}}
      </p>
    </div>
  </div>
{{/each}}

<div class="form-group new-post-form text-center">
  <a class="btn btn-secondary" type="submit" id="newPost" href="/newpost">+ New Post</a>
</div>