{{! contains all post if any have been made }}
<!-- Loop over each object in the projects array -->
{{#each posts as |post|}}
  <div class="row mb-4 project card pl-4">
    <div class="d-flex flex-row justify-content-between">
      <h2>
        <a
          class="text-danger opacity-50"
          href="/post/{{post.id}}"
        >{{post.title}}</a>
      </h2>
      <!-- Call helper function to format the date -->
      <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <div class="form-control bg-light">
      <p>
        {{post.content}}
      </p>
    </div>
  </div>
{{/each}}